* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: lobster;
  src: url("../fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: monstrat;
  src: url("../fonts/Montserrat-Thin.ttf");
}

body {
  font-family: monstrat, sans-serif;
  background-color: black;
}

h1,
h2,
h3 {
  color: white;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 20rem;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";

@media screen and (max-width: 950px) {
  .App {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .library-active {
    margin: 0;
  }
}
