nav {
  margin: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    height: 3rem;
    display: flex;
    align-items: center;
    a {
      height: 100%;
      img {
        margin: auto;
        height: 100%;
      }
    }
    .logo-text {
      margin: auto 1rem;
      font-size: 2rem;
      font-family: lobster, sans-serif;
      font-weight: 300;
      color: black;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: #b544ff;
      }
    }
  }
  button {
    padding: 0.8rem;
    border-radius: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    background: rgb(43, 43, 43);
    color: white;
    z-index: 5;
    transition: all 0.3s ease;
    &:hover {
      background: white;
      color: rgb(43, 43, 43);
      box-shadow: 0 0 20px rgb(196, 196, 196);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
}
