* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: lobster;
  src: url("../fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: monstrat;
  src: url("../fonts/Montserrat-Thin.ttf");
}

body {
  font-family: monstrat, sans-serif;
}

h1,
h2,
h3 {
  color: rgb(19, 19, 19);
}

.vybe {
  font-family: lobster, sans-serif;
  font-weight: 300;
}

@import "./song";
@import "./player";
@import "./library";
